@using Ammeep.GiftRegister.Web
@using Ammeep.GiftRegister.Web.Models
@model EditableGiftPage

@{
    ViewBag.Title = "Edit Gift";
    Layout ="../Shared/_AdminLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-2.0.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Site.js")" type="text/javascript"></script>

<div class="manage_header"> </div>
<div class="login_flag"> <h2>Edit Item</h2></div>
<div class="content">
    <div class="admin_content">
   
        <p>Update the gift details, and once you are happy with the live preview, just hit save.</br>
        <span class="important_lable">Important</span> For all Urls please include 'http://' there is a bug which I cant be bothered fixing right now, and this avoids it :D</p>
             
        @using (Html.BeginForm()) {
            @Html.ValidationSummary()

  
            <div class="row">
                <div class="span-all">
                    <div class="row">
                        <div class="span-left-half">
                            @Html.EditorFor(model => model.Gift.Name)
                            @Html.EditorFor(model => model.Gift.ImageLocation)
                            @Html.EditorFor(model => model.Gift.Description)
                            @Html.EditorFor(model => model.Gift.Website)
                            
                            <div class="input">
                                @Html.LabelFor(model => model.Gift.Category)
                                @Html.DropDownListFor(model => model.Gift.Category, Model.CategoriesSelectList, new { id = "categoryDropdown" })
                            </div>
                        </div>
                        <div class="span-right-half">
        
                            @Html.EditorFor(model => model.Gift.SuggestedStores)
                            @Html.EditorFor(model => model.Gift.SpecificItemRequried)
                            @Html.EditorFor(model => model.Gift.QuantityRequired)
                            @Html.EditorFor(model => model.Gift.RetailPrice)
                              
                        </div>
                    </div>
                </div>
            </div>              
            @Html.HiddenFor(model => model.Gift.GiftId)
            
            <div class="row registry_container_preview">
                @Html.Partial("RegistryItemPreview", new GiftRow { IsFirst = true, Item = Model.Gift })
            </div>
              
            <div class="right">
                     
                <input type="submit" class="btn save_button" value="" />
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
       
    </div>
</div>

<script type="text/javascript">

    ko.applyBindings(new GiftViewModel("@Html.JavaScriptEncode(@Model.Gift.Name)",
                                       "@Html.JavaScriptEncode(@Model.Gift.ImageLocation)",
                                       "@Html.JavaScriptEncode(@Model.Gift.Description)",
                                       "@Html.JavaScriptEncode(@Model.Gift.Website)",
                                       "@Html.JavaScriptEncode(@Model.Gift.SuggestedStores)",
                                       "@Model.Gift.SpecificItemRequried",
                                       "@Model.Gift.QuantityRequired",
                                       "@Model.Gift.RetailPrice"));
   
   
</script>
