@using Ammeep.GiftRegister.Web.Domain.Model
@model IEnumerable<PendingGift>

<h2>Pending Reservation</h2>

<p>These are gifts which are pending confimation.</p>
<table class="zebra-striped">
            <thead class="header">
                <tr>
                    <td class="header">Gift Name</td>
                    <td class="header" colspan="2">Pending reservation from</td>
                    <td class="header">Reservation Date</td>
                    <td class="header">Resend Confirmation Email</td>
                    <td class="header">Remove Pending Reservation</td>
                </tr>
            </thead>
    <tbody>
        
        
        @foreach (PendingGift pendingGifts in Model)
        {
            <tr>
                 <td>@pendingGifts.Gift.Name</td>
                 <td>@pendingGifts.Guest.Name</td>
                 <td>@pendingGifts.Guest.Email</td>
                 <td>@pendingGifts.GiftPruchase.CreatedOn</td>
                <td>@Html.ActionLink("Resend Email", "ResendConfirmationEmail", "Manage")</td>
                <td>@Html.ActionLink("Remove", "RemovePendingStatus", "Manage",new {giftId = pendingGifts.Gift.GiftId,giftPurchaseId = pendingGifts.GiftPruchase.GiftPurchaseId},null)</td>
            </tr>
        }
    </tbody>
        </table>


