@using Ammeep.GiftRegister.Web.Domain.Model
@model IEnumerable<ReservedGift>

<h2>Confirmed Reservations</h2>

<p>These are gifts which are pending confimation.</p>
<table class="zebra-striped">
            <thead class="header">
                <tr>
                    <td class="header">Gift Id</td>
                    <td class="header">Gift Name</td>
                    <td class="header">Pending reservation from</td>
                    <td class="header"></td>
                    <td class="header">Reservation Date</td>
                    <td class="header">Resend Confirmation Email</td>
                    <td></td>
                </tr>
            </thead>
    <tbody>
        
        
        @foreach (ReservedGift pendingGifts in Model)
        {
            <tr>
                 <td>@pendingGifts.Gift.GiftId</td>
                 <td>@pendingGifts.Gift.Name</td>
                 <td>@pendingGifts.Guest.Name</td>
                 <td>@pendingGifts.Guest.Email</td>
                 <td>@pendingGifts.GiftPruchase.CreatedOn</td>
                 <td>@pendingGifts.GiftPruchase.ConfirmedOn</td>
            </tr>
        }
    </tbody>
        </table>


