@model Ammeep.GiftRegister.Web.Models.GiftRow
@{var itemContainerClass = Model.IsFirst ? "registry_container first" : "registry_container";}
<div class="@itemContainerClass">
    <div class="registry_img_area">
        <div class="img_box">

            <img src="@Model.Item.ImageLocation" />
        </div>
    </div>
    <div class="registry_content">
        <div class="registry_title_blurb">
            <h1>@Model.Item.ItemName</h1>
            <p>@Model.Item.Description</p>
        </div>
        <div class="registry_box_left">
            <ul>
                <li>Suggested Store:</li>
                <li>Specific Item Required?</li>
                <li>Quantity:</li>

                <li>RRP (NZD):</li>
                <li>Website:</li>
            </ul>
        </div>
        <div class="registry_box_middle">
            <ul>
                <li>@Model.Item.SuggestedStores</li>
                <li>@Html.DisplayFor(model => model.Item.IsSpecificItemRequired)</li>
                <li>@Model.Item.QuantityRequired</li>
                <li>@Html.DisplayFor(model => model.Item.RetailPrice)</li>
                <li><a href="@Model.Item.Website">Click here</a></li>
            </ul>
        </div>
        <div class="registry_box_right">

            @Html.ActionLink("Edit", "Edit",new{giftId =1})
            @Html.ActionLink("Delete", "Delete", new { giftId = 1 })
        </div>
    </div>
</div>
