@model Ammeep.GiftRegister.Web.Models.GiftRow
@{var itemContainerClass = Model.IsFirst ? "registry_container first" : "registry_container";
  itemContainerClass = string.Format("{0} giftId{1}", itemContainerClass, Model.Item.GiftId);}
<div class="@itemContainerClass"> 
     @Html.DisplayFor(model => model.Item.ImageLocation)
    <div class="registry_content">
        <div class="registry_title_blurb">
            @Html.DisplayFor(model => model.Item.Name)
            @Html.DisplayFor(model => model.Item.Description)          
        </div>
        <div class="registry_box_left">
            <ul>
                <li>Suggested store:</li>
                <li>Specific item desired?</li>
                <li>Quantity we'd like:</li>

                <li>RRP (NZD):</li>
                <li>Product website:</li>
            </ul>
        </div>
        <div class="registry_box_middle">
            <ul>
                <li>@Html.DisplayFor(model => model.Item.SuggestedStores)</li>
                <li>@Html.DisplayFor(model => model.Item.SpecificItemRequried)</li>
                <li>@Html.DisplayFor(model => model.Item.QuantityRemaining)</li>
                <li>@Html.DisplayFor(model => model.Item.RetailPrice)</li>
                <li>@Html.DisplayFor(model => model.Item.Website)</li>            
            </ul>
        </div>
        <div class="registry_box_right">
            <a data-controls-modal="modal-from-dom" data-backdrop="static" data-keyboard="true">Get This</a>            
        </div>
        @Html.HiddenFor(model=>Model.Item.GiftId)
        @Html.HiddenFor(model=>Model.Item.QuantityRemaining)
    </div>
</div>
