@model Ammeep.GiftRegister.Web.Models.AllAccountsPage

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin_header"> </div>
<div class="login_flag">User Management</div>
<div class="content">
    <div class="admin_content">
            <p>Here is some text about Admin users</p>
            <table class="zebra-striped">
            <thead class="header">
                <tr>
                    <td class="header">User Name</td>
                    <td class="header">Name</td>
                    <td class="header">Email Name</td>
                    <td class="header">Account Type</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.AdminUsers)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.AccountType</td>
                        <td>@Html.ActionLink("Manage Account","Manage","Account")</td>
                    </tr>
                }
            </tbody>
        </table>
    </br>
     <p>Here is some text about Guest users</p>
            <table class="zebra-striped">
                <thead class="header">
                    <tr>
                        <td class="header">User Name</td>
                        <td class="header">Name</td>
                        <td class="header">Email Name</td>
                        <td class="header">Account Type</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                     @foreach (var user in Model.Guests)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@user.AccountType</td>
                            <td>@Html.ActionLink("Manage Account","Manage","Account")</td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
</div>
