@model Ammeep.GiftRegister.Web.Models.RegistryItemsPage

@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../../Scripts/bootstrap-modal.js" type="text/javascript"></script>
<link href="../../Content/Modal.css" rel="stylesheet" type="text/css" />

@Html.Partial("Welcome")
@Html.Partial("HowTo")

<div id="registry_flag">
    <a name="registry" id="registry"></a> 
</div>

 <div class="registry_sort">    
     <p> Sort by:</p>
     @Html.DropDownListFor(model => model.CategoriesSelectList, Model.CategoriesSelectList, new { id = "categoryDropdown" })      
     <br />    
 </div>
    
<div id="loading_spinner" class="loading_spinner_invisible">
    <img src="../../Content/Images/ajax-loader.gif" alt="Loading"/>
</div>
<div id="registryItemContainer">
    @Html.Partial("RegistryItems", Model.Gifts) 
</div>

 <!-- sample modal content -->
 @Html.Partial("Popup")


@Html.Partial("Help")

<script type="text/javascript">
    var categoryPager = function(pageSize, defaultCategory, nextItemsUrl) {
        this.pageSize = pageSize;
        this.currentCategory = defaultCategory;
        this.pageNumber = 0;
        this.nextItemsUrl = nextItemsUrl;

        this.resetForCategory = function(newCategory) {
            this.currentCategory = newCategory;
            this.pageNumber = 0;
        };

        this.incrementPageNumber = function() {
            this.pageNumber = this.pageNumber + 1;
        };

        this.getNextPageUrl = function() {
            return this.nextItemsUrl + "/" + this.pageSize + "/" + this.pageNumber + "/" + this.currentCategory;
        };

        this.getRegistryItems = function() {
            $('.registry_container').fadeOut('slow', function() {
                $("#registryItemContainer").empty();
                $("#loading_spinner").addClass("loading_spinner_visible");
                $("#loading_spinner").removeClass("loading_spinner_invisible");
            });
             
            $.get(this.getNextPageUrl(), function(data) {              
                $("#loading_spinner").addClass("loading_spinner_invisible");
                $("#loading_spinner").removeClass("loading_spinner_visible").fadeOut();
                $('#registryItemContainer').hide().append(data).fadeIn('slow');
            });
        };

 
        

    };
    
    $(document).ready(function () {

        var pager = new categoryPager(@Model.PageSize , 0, "@Url.Action("GetRegistryItems")");
        
        $('#categoryDropdown').change(function () {
            var newCategory = $("#categoryDropdown option:selected").val();          
            pager.resetForCategory(newCategory);
            pager.getRegistryItems();
        });
    });
  

</script>

