@model Ammeep.GiftRegister.Web.Models.RegistryItemsPage

@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/bootstrap-modal.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Modal.css")" rel="stylesheet" type="text/css" />


@Html.Partial("Welcome")
@Html.Partial("HowTo")

<div id="registry_flag">
    <a name="registry" id="registry"></a> 
</div>
 
<div class="registry_sort">    
    <p> Sort by:</p> 
    @Html.DropDownList("categoryDropdown", new SelectList(Model.Categories, "CategoryId", "Name", Model.SelectedCategoryId))
    <br />    
</div>
    
@Html.Partial("RegistryPage")

<!-- sample modal content -->
 @Html.Partial("Popup")


@Html.Partial("Help")

<script type="text/javascript">
 
function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp( /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i );
    return pattern.test(emailAddress);
}


$(document).ready(function () {

        
        $('#categoryDropdown').change(function () {
            var newCategory = $("#categoryDropdown option:selected").val();
            var actionUrl ="@Url.Action("RegistryPage", new { page = "0", categoryId = "CATEGORY" })";
            window.location =actionUrl.replace('CATEGORY', newCategory).concat("#registry");

        });
    var quantityRemaining = 0;
        $('body').delegate('[data-controls-modal]', 'click', function(e) {
            e.preventDefault();
            var $this = $(this).data('show', true);
            var parent = $this.parents(".registry_container").clone().addClass("first");
            parent.find(".registry_box_right").hide();
            quantityRemaining = parent.find("#item_Item_QuantityRemaining").val();
            var id = parent.find("#item_Item_GiftId").val();
            $('#' + $this.attr('data-controls-modal')).find("#Quantity").val(quantityRemaining);
            $('#' + $this.attr('data-controls-modal')).find("#getthisid").val(id);
            $("#gift-to-get").html(parent);
            $("#resultcontent").hide();
            $("#popupcontent").show();
            $('#' + $this.attr('data-controls-modal')).modal($this.data());
        });

        $("#decrementQuantity").click(function() {
            var oldNumber = $("#Quantity").val();
            var decremented = (oldNumber - 1 );
            if(decremented > 0) {
                $("#Quantity").val(decremented);
            }
        });
        
         $("#incrementQuantity").click(function() {
            var oldNumber = $("#Quantity").val();

            var incremented = ++oldNumber;

            if(incremented <= quantityRemaining) {
                $("#Quantity").val(incremented);
            }
        });

        $("#submitGift").click(function() {         
            
            var name = $("#Name").val();
            var email = $("#Email").val();
            if(!name) {
                $("#Name").addClass("input-validation-error");
            }else {
                $("#Name").removeClass("input-validation-error");
            }
            var emailIsValid = isValidEmailAddress(email);

            if(!email || !emailIsValid) {
                $("#Email").addClass("input-validation-error");
            }else {
                 $("#Email").removeClass("input-validation-error");
            }
            if(name && email && emailIsValid) {
                
                var quantity = $("#Quantity").val();
                var id = $("#getthisid").val();
                $("#popupcontent").hide();
                
                $("#spinner").removeClass("loading_spinner_invisible");
                $("#spinner").addClass("loading_spinner_visible");
                
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetThis")',
                    data: JSON.stringify({ quantity: quantity, Name: name, Email: email, GiftId: id }),
      
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {  
                        $("#spinner").addClass("loading_spinner_invisible");
                        $("#spinner").removeClass("loading_spinner_visible").fadeOut();
                        $("#resultcontent").show();
                        $("#resultcontent").html(data);
                    }
                });
            
            }
        });
    });
    
 


</script>

