@model Ammeep.GiftRegister.Web.Models.RegistryItemsPage

@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("Welcome")
@Html.Partial("HowTo")

<div id="registry_flag">
    <a name="registry" id="registry"></a> 
</div>

 <div class="registry_sort">    
     <p> Sort by:</p>
     @Html.DropDownListFor(model => model.CategoriesSelectList, Model.CategoriesSelectList, new { id = "categoryDropdown" })      
     <br />    
 </div>
    
<div id="loading_spinner" class="loading_spinner_invisible">
    <img src="../../Content/Images/ajax-loader.gif" alt="Loading"/>
</div>
<div id="registryItemContainer">
    @Html.Partial("RegistryItems", Model.Gifts) 
</div>

<nav id="page_nav">
    <a id="nextGiftUrl" href="@Url.Action("GetRegistryItems", new { pageSize = Model.PageSize, pageNumber = 2, categoryId = 0 })"></a>
</nav>

@Html.Partial("Help")

<script type="text/javascript">
    var categoryPager = function(pageSize, defaultCategory, nextItemsUrl) {
        this.pageSize = pageSize;
        this.currentCategory = defaultCategory;
        this.pageNumber = 0;
        this.nextItemsUrl = nextItemsUrl;

        this.resetForCategory = function(newCategory) {
            this.currentCategory = newCategory;
            this.pageNumber = 0;
        };

        this.incrementPageNumber = function() {
            this.pageNumber = this.pageNumber + 1;
        };

        this.getNextPageUrl = function() {
            return this.nextItemsUrl + "/" + this.pageSize + "/" + this.pageNumber + "/" + this.currentCategory;
        };

        this.getRegistryItems = function() {
            $('.registry_container').fadeOut('slow', function() {
                $("#registryItemContainer").empty();
                $("#loading_spinner").addClass("loading_spinner_visible");
                $("#loading_spinner").removeClass("loading_spinner_invisible");
            });
             
            $.get(this.getNextPageUrl(), function(data) {              
                $("#loading_spinner").addClass("loading_spinner_invisible");
                $("#loading_spinner").removeClass("loading_spinner_visible").fadeOut();
                $('#registryItemContainer').hide().append(data).fadeIn('slow');
            });
        };

 
        

    };
    
    $(document).ready(function () {

        var pager = new categoryPager(@Model.PageSize , 0, "@Url.Action("GetRegistryItems")");
        
        $('#categoryDropdown').change(function () {
            var newCategory = $("#categoryDropdown option:selected").val();
           
            pager.resetForCategory(newCategory);
            pager.getRegistryItems();
        });
    });
  

</script>

@*
 <!-- Modal -->
<div id="moda" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
    <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Modal Heading</h3>
    </div>
    <div class="modal-body">
    <p>One fine body…</p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn primary">Primary</a>
    <a href="#" class="btn secondary">Secondary</a>
    </div>
</div>
*@