@model Ammeep.GiftRegister.Web.Models.RegistryItemsPage

@{
    ViewBag.Title = "Registry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("Welcome")
@Html.Partial("HowTo")

<div id="registry_flag">
    <a name="registry" id="registry"></a> 
</div>

 <div class="registry_sort">    
     <p> Sort by:</p>
     @Html.DropDownListFor(model => model.CategoriesSelectList, Model.CategoriesSelectList, new { id = "categoryDropdown" })      
     <br />    
 </div>
    
  
         

 

<div id="registryItemContainer">
    @Html.Partial("RegistryItems", Model.Gifts) 
</div>

<nav id="page_nav">
<a id="nextGiftUrl" href="@Url.Action("GetRegistryItems", new { pageSize = Model.PageSize, pageNumber = 2, categoryId = 0 })"></a>
</nav>

@Html.Partial("Help")

<script type="text/javascript">
    var categoryPager    = function(pageSize, defaultCategory, nextItemsUrl) {
        this.pageSize = pageSize;
        this.currentCategory = defaultCategory;
        this.pageNumber = 0;
        this.nextItemsUrl = nextItemsUrl;

        this.incrementPageNumber = function() {
            this.pageNumber = this.pageNumber + 1;
        };

        this.getNextPageUrl = function() {
            var nextPageParameters = { pageSize: this.pageSize, pageNumber: this.pageNumber, categoryId: this.currentCategory };
            return this.nextItemsUrl + "?" + jQuery.param(nextPageParameters);
        };

    };
    $(document).ready(function () {

        var pager = new categoryPager(@Model.PageSize , 0, "@Url.Action("GetRegistryItems")");
        var $container = $('#registryItemContainer');

        $container.isotope({
            itemSelector: '.registry_container'
        });

//        var infiniteScroller = $container.infinitescroll({
//            navSelector: '#page_nav',    // selector for the paged navigation 
//            nextSelector: '#page_nav a',  // selector for the NEXT link (to page 2)
//            itemSelector: '.registry_container',     // selector for all items you'll retrieve
//            loadingImg: 'http://i.imgur.com/qkKy8.gif',
//            loadingText: 'No more pages to load.',               
//            animate:true
//            },
//            // call Isotope as a callback
//             function (newElements) {  
//                pager.incrementPageNumber();
//                $container.isotope('appended', $(newElements));          
//            }
//      );
        
        
        $('#categoryDropdown').change(function () {
            $container.isotope('remove', $('.registry_container'));
            var newCategory = $("#categoryDropdown option:selected").val();
            alert(newCategory);
            infiniteScroller.state.currPage = 1;
            infiniteScroller.state.filterBy = newCategory;

        });
    });
  

</script>

@*
 <!-- Modal -->
<div id="moda" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1">
    <div class="modal-header">
    <a href="#" class="close">&times;</a>
    <h3>Modal Heading</h3>
    </div>
    <div class="modal-body">
    <p>One fine body…</p>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn primary">Primary</a>
    <a href="#" class="btn secondary">Secondary</a>
    </div>
</div>
*@